#timeline
  = render "shared/timelineLeft"
  .timeline-center
    .timeline-center__header
      %span.current-menu
        = @user.nickname
        のページ
      = render "relationships/followbutton", user: @user
    .timeline-center__menu
      = link_to "ツイート一覧", user_path(@user.id), class: "mytweet-menu"
      = link_to "いいね一覧", like_user_path(@user.id), class: "mylike-menu"
    .timeline-center__tweet
    - @tweets.each do |tweet|
      = link_to tweet_path(tweet.id), class: "link" do
        .tweet-item
          .tweet-item__left
            .image-profile
              = image_tag "/noimageblack.png", class: "user-image"
          .tweet-item__right
            .tweet-title
              %span.tweet-user
                = tweet.user.nickname
              %span.tweet-date
                = tweet.created_at.to_s(:datetime_jp)
              %span.like-btn
                = icon('far fa-heart fa-fw', class: 'like-icon')
            .tweet-content
              = simple_format(tweet.text)
            - if tweet.images.attached?
              - tweet.images.each do |image|
                .tweet-image
                  = image_tag image, class: "tweet-photo"
  = render "shared/timelineRight"
